@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');
* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

/* headings and logo*/

h1, h2 {
    font-family: Oswald, sans-serif; 
    text-transform:uppercase;
    letter-spacing: 4px;
    color: #252525;
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#menu, #logo {
    line-height: 75px;
}


#menu li {
    display: inline-block;
    list-style-type: none;
    margin-left: 30px;
}

nav {
    float: right;
    margin-right: 30px;
    
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
border-bottom: 1px solid #3a3a3a;
}

/* Hero image*/

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
}
#hero-image {
    width: 100%;
    height: 600px;
    background: url('../images/hero-image2.jpg') no-repeat center center;

    /* Animates zoom effect on loading page*/
    animation-name: hero-zoom;
    animation-duration: 10s;
    animation-fill-mode:both;


}

/* Creates the level of zoom for hero image*/

@keyframes hero-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

/* Union Services section*/

#services-section {
    height: 600px;
    right: 0;
    text-align: center;
}
/*
.union-services {
    padding-top: 20px;
    width: 30%;
    height: 300px;
    display: inline-block;
}
*/
hr {
    border-bottom: 2px solid #3a3a3a;
    width: 100%;
    margin: 5px 0;
}

#left {
width: 30%;
float: left;
padding-top: 20px;    
background-color: green;
}

#middle {
    width: 30%;
    margin: 0 auto;
    width: 30%;
    padding-top: 20px;
    background-color: silver;
    }

#right {
    float: right;
    width: 30%;
    padding-top: 20px;
    background-color: blue;
        }
